.main-slider-area {
    display:none;
}


@media only screen and (max-width: 767px) {
 
    .woski-image {
        display:none;
    	
           }        

  .mobile_menu_logo {
    display: none;
  }
  .main-slider-area {
    display: inline !important;
  }

  .exoert-icon{
    margin-top: 40px; 
    padding-left:20px;
    border:0 !important;
     width:70%; 
     text-align: justify;
      margin:0 auto;

  } 

  /*ORGANGE BUTTON "CONOCENOS" */
  
  .button-mobile {
    margin-top:20px !important;
   
  }

  .big-title{
    font-size: 50px !important; 
  
  }
 
  }

  @media (max-width: 767px) {
      #big-title{

        font-size: 50px !important; 

    }
    #new-image {
      height:100px;
      width: 300px !important;
      margin-bottom:40px;
    }
    .new-image-world {
      margin-top:50px;
     
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .new-image-world img {
      margin-bottom:0;
     
    }
    .new-padding {
      padding-top:0 !important;
  
      margin-top:0 !important;
    }
  }

